{# src/Pentalog/BlogBundle/Resources/views/Blog/edit.html.twig #}

{% extends "PentalogBlogBundle::layout.html.twig" %}

{% block title %}
  Modifier l'article {{ article.title }} - {{ parent() }}
{% endblock %}

{% block pentalogblog_body %}

  <h2>Modifier l'article {{ article.title }}</h2>

  {% include "PentalogBlogBundle:Blog:form.html.twig" with {'action': path('pentalog_blog_edit', {'slug': article.slug})} %}

  <p>
    Vous éditez un article déjà existant,
    ne le changez pas trop pour éviter
    aux membres de ne pas comprendre
    ce qu'il se passe.
  </p>

  <p>
    <a href="{{ path('pentalog_blog_view', {'slug': article.slug}) }}" class="btn btn-default">
      <i class="icon-chevron-left"></i>
      Retour à l'article
    </a>
  </p>

{% endblock %}