<html>
  <body>
    {{ 'hello'|trans({'%name%': name}) }} <br/>
          Aujourd'hui nous sommes le {{ 'now'|localizeddate('full', 'none') }} et il est {{ 'now'|localizeddate('none', 'short') }}
  </body>
</html>